# Basics ======================================================================

*.DS_Store

# Python Caches ===============================================================

# python3
*__pycache__/
# python2
*.pyc